img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
}

.container {
    float: right;
    border: 1px solid;

}

h3 {
    border-bottom: 1px solid;
}

.steps {
    float: left;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 40px;
    text-decoration: underline;
}

ul {
    font-size: 25px;
}

p {
    text-decoration: bold;
    font-size: 30px;
}

.steps {
    float: left;
    font-size: 20px;

}